body{
    font-family:'Open Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav > ul{
    display: flex;
   align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
}

.Mary{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}
.orange{
    color: #FD6E0A;
}

.btn{
   background-color: #FD6E0A;
   border-radius: 5px;
   color: white;
   /* height: 40px;
   width: 90px; */
   font-size: 20px;
   font-weight: 700;
   border:0;
   padding: 18px 35px 19px 36px;
   height:64px ;
   width: 150px;
}
 .header{
background-color: #FFF8F3; 
}

.banner{
    display: flex;
    padding: 30px 30px 30px 189px;
    align-items: center;
}
.pic{
    width: 430px;
    height: 480px;
}